@model List<Experience>
@{
    int count = 0;
}
<div class="col-full text-center">
    <h3>My Work Experience</h3>
</div>

@foreach (var item in Model)
{
    if(count%2==0){
    <div class="col-six tab-full left">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">@item.Date</p>
                    <h3>@item.Head</h3>
                    <h5>@item.Description</h5>
                </div>
                <div class="timeline__desc">
                    <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                </div>
            </div>

        </div>
        </div> <!-- end left -->
    }else{

    <div class="col-six tab-full right">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">@item.Date</p>
                        <h3>@item.Head</h3>
                        <h5>@item.Description</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                    </div>
                </div>

            </div>

        </div> <!-- end about-content timeline -->
    }
}